/* colors and font styles */
.header,
.footer,
.awesome {
    background-color: #1f2937;

    padding: 10px;
}

.awesome-header {
    font-size: 48px;
    font-weight: 900px;
    color: #f9faf8;
}

.navigation,
.awesome-text {
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
    font-weight: 900px;
    color: #f9faf8;
}

.button-above,
.button-below,
.action {
    background-color: #3882f6;
}

.information-header {
    font-size: 36px;
    font-weight: 900px;
    color: #1f2937;
}

.quote {
    background-color: #E5E7EB;
}

.quote-text {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 25px;
}

/* layout */
body {
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif, "Times New Roman";
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 15px 150px;
}

.awesome {
    display: flex;
    justify-content: space-between;
    padding: 15px 150px;
}

.awe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 35px;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0;
    margin: 0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
}